{% extends 'base.html.twig' %}

{% block title %}Vue groupes{% endblock %}

{% block body %}
    <div class="container vh-100">
        <div class="page-content row align-items-center">
            {% for alliance in alliances %}
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{ alliance.name }}</h3>
                    {{ alliance.serveur }}
                    {{ alliance.cadran }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}