{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}



    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} text-center">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <section class="d-flex justify-content-center">
        <div class="card col-5 shadow p-3 mb-5  rounded">
            <div class="card-body ">


                <h3 class="card-title titleForm" style="text-align: center;"> Mot de passe oublié?</h3>
                <br>

                <form action="{{ path('reset-password') }}" method="post">

                    <div class="form-group">
                        <label for="email">Adresse Email*</label>
                        <input type="email" class="form-control" id="Email" name="Email" placeholder="@" required>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-lg btnForm btn-lg btn-block" type="submit">Envoyer</button>
                    </div>
                </form>


            </div>
        </div>
    </section>
{% endblock %}