{% extends 'base.html.twig' %}
{% block title %}Modification de mot de passe - toolProject{% endblock %}

{% block body %}

    {# Si tout est ok #}
    {% if credentials %}
        <div class="container vh-100 d-flex justify-content-center align-items-center">
            <div class="page-content row">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Nouveau mot de passe</h3>
                        {{ form_start(form) }}
                        {{ form_row(form.plainPassword) }}
                        <div class="text-center">
                            <button class="btn btn-lg btnForm btn-lg btn-block" type="submit">Modifier</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    {% else %}

        {# Si lien invalide ou déjà utilisé #}
        <div class="container vh-100 d-flex justify-content-center align-items-center">
            <div class="page-content row">
                <div class="card">
                    <div class="card-body ">
                        <h4 class="card-title">Lien invalide ou déjà utilisé</h4>
                        <div class="text-center">
                            <a href="{{ path('reset-password') }}">Redemander un lien</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}