{% extends 'base.html.twig' %}
{% block title %}Modification de mot de passe - toolProject{% endblock %}

{% block body %}

{# Si tout est ok #}
    {% if credentials %}
        <section class="d-flex justify-content-center">
            <div class="card col-5 shadow p-3 mb-5 rounded">
                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_row(form.plainPassword) }}
                    <div class="text-center">
                        <button class="btn btn-lg btnForm btn-lg btn-block" type="submit">Modifier</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </section>
    {% else %}

        {# Si lien invalide ou déjà utilisé #}
        <div class="container">
            <h4>Lien invalide ou déjà utilisé</h4>
            <a href="{{ path('reset-password') }}">Redemander un lien</a>
        </div>
    {% endif %}

{% endblock %}