{% extends 'base.html.twig' %}

{% block title %}accueil{% endblock %}

{% block body %}
    <h1>Accueil</h1>
    <strong>ici il y aura des infos trop bien</strong>

    <a href="{{ path('create-user') }}">Créer un utilisateur - </a>
    <a href="{{ path('list-users') }}"> Voir les utilisateurs - </a>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}