{% extends 'base.html.twig' %}

{% block title %}accueil{% endblock %}

{% block body %}
    <div class="container">
        <h1>Accueil</h1>
        <b>ici il y aura des infos trop bien</b>

        <a href="{{path('create-user')}}">Créer un utilisateur</a>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}