{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}



    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} text-center">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <h2> Mot de passe oublié ?</h2>

    <form action="{{ path('reset-password') }}" method="post">
        <div class="form-group">
            <label for="email">Adresse Email</label>
            <input type="email" class="form-control" id="Email" placeholder="@" required>
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>



{% endblock %}