{% extends 'base.html.twig' %}

{% block title %}Modifier troupes{% endblock %}

{% block body %}

    <main class="page-content">
        <div class="container-fluid">
            <h1 class="title-content">Mes troupes</h1>
            <hr>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="container text-center">
            <select name="typeTroupe" id="typeTroupe">
                <option value="">Sélectionner un peuple</option>
                <option value="romain">Romain</option>
                <option value="germain">Germain</option>
                <option value="gaulois">Gaulois</option>
            </select>
            <div id="formTroupe"></div>
        </div>
        </div>
    </main>



    <script>
        $("#typeTroupe").on('change', function () {
            if ($(this).val() !== '') {
                let peuple = $(this).val();
                formTroupe(peuple);
            }
        });

        function formTroupe(peuple) {
            $.ajax({
                type: 'POST',
                url: '{{ path('ajax-form-troupe') }}',
                data: "peuple=" + peuple,
                dataType: 'html',
                success: function (data) {
                    $('#formTroupe').html(data);
                },
                error: function (error) {
                    console.log(error.responseText);
                },
                statusCode: {
                    500: function () {
                        $('#formTroupe').html('<div class="container"> <h3 class="text-danger">Erreur lors de l\'execution de la page</h3></div>');
                    }
                }
            })
        }
    </script>
{% endblock %}