{% extends 'base.html.twig' %}

{% block title %}A Propos - toolProject{% endblock %}

{% block body %}


    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="page-content row">
            <div class="card">
                <div class="card-body">

                    <h1 class="mb-5 title-content">tool<span class="orange">Project</span></h1>

                    <p style="font-size: 1.20rem;">
                        Site réalisé dans la cadre de la formation développeur(se) web et web mobile.
                    </p>
                    <p style="font-size: 1.20rem;">
                        Il à été réalisé en symfony 5 par sandrine MICHEL
                    </p>
                </div>
            </div>
            <
        </div>
    </div>
{% endblock %}