{% extends 'base.html.twig' %}

{% block title %}Admin - Créer un serveur{% endblock %}

{% block body %}

    <h2>Admin - Créer un serveur:</h2>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.Ajouter) }}
    {{ form_end(form) }}
{% endblock %}