{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}

    <section class="container">
        <table class="table table-striped">
            <h1 class="titleForm">Liste des utilisateurs</h1>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Pseudo</th>
                   <th>Serveur</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>
                            {{ user.username }}
                        </td>
                        <td>{{ user.serveur }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
    </section>
{% endblock %}