{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs {% endblock %}

{% block body %}

    <div class="page-content">
        <div class="container">
            <h3 class="title-content">Utilisateurs serveur</h3>

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <table class="table table-striped shadow p-3 mb-5 bg-white rounded">

                <thead class="thead-dark">
                <tr>
                    <th>Pseudo</th>
                    <th>Peuple</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for user in listeUsers %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.Peuple }}</td>
                        {#<td>
                            <a href="#" class="btn btn-primary btn-sm">
                                <i class="fas fa-eye"></i> voir </a>
                        </td>#}
                        <td>
                        {% if app.user.alliance %}
                                {% if user.alliance %}
                                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                                          title="Déjà membre d'une alliance">
                                    <a href="#" class="btn btn-danger disabled btn-sm " style="pointer-events: none;">
{#                                    <i class="fas fa-plus"></i>#} Cet utilisateur à déjà une alliance</a>
                                    </span>
                                {% else %}
                                    <a href="#"
                                       class="btn btn-success btn-sm">
                                        <i class="fas fa-plus"></i> Inviter (A faire)</a>
                                {% endif %}
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}